.toggle {
    display: inline-flex;
    font-size: 12px;
    &__body {
        position: relative;
        padding: 6px;
        width: 60px;
        background-color: rgba(#ffffff, .4);
        border-radius: 40px;
    }
    &__switch {
        position: absolute;
        top: 4px;
        left: 4px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        text-align: center;
        border-radius: 50%;
        transition: transform .2s ease-out;
        background-color: white;
        z-index: 2;
    }
    &__label {
        color: $base;
        line-height: 20px;
        width: 50%;
        text-align: center;
        transform: translate(90%, 1px);
        transition: transform .2s ease-out, color .3s ease-out;
    }
    .input:checked ~ &__body {
        background-color: $success;
        .toggle__switch {
            transform: translate(40px, 0);
            background-color: white;
        }
        .toggle__label {
            transform: translate(0, 1px);
            color: white;
        }
    }
    .input:focus ~ &__body {
        box-shadow: 0 0 0 4px rgba($base, .3);
    }
}