/* Imports */

@import "~/assets/styles/variables";
@import "~/assets/styles/typography";

@import "~/assets/styles/shared/input-control";

/* Component imports */
@import "~/assets/styles/components/input";
@import "~/assets/styles/components/button";
@import "~/assets/styles/components/dialog";
@import "~/assets/styles/components/toggle";


/* Basic resets */
body {
    margin: 0;
    @include CondorRegular;
    color: $base;
}

img {
    max-width: 100%;
}

/* Theme */

.product {
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &__title {
        max-width: 991px;
        padding: 2rem 0;
    }
    &__image {
        position: relative;
        z-index: 0;
        &__img {
            transform: scale(1.2);
        }
    }
    &__details {
        position: relative;
        z-index: 1;
    }
    &__details-spacer {
        margin-bottom: 80px;
    }
    &__price {
        text-align: center;
        font-size: 30px;
        @include CondorWideItalic;
    }
}

.container {
    position: relative;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 1rem;
    z-index: 1;
    &.align-center {
        align-items: center;
    }
}

.col {
    padding: .75rem;
}

.consent {
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:not(:last-child) {
            margin-bottom: .75rem
        }
    }
    &__label {
        @include CondorMedium;
    }
}

.vertical-spacer {
    flex: 1 1 100%;
}

.clickable {
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

@each $name, $space in $spacings {
    @each $class, $side in $sides {
        .m#{$class}-#{$name} {
            margin-#{$side}: #{$space}rem;
        }
    }
}

@media (min-width: 768px) {
    .container {
        display: flex;
    }
    .col-sm-6 {
        flex: 1 1 50%;
    }
}
